/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General */					
h1 {
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 26pt;
}
h2 {
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 22pt;
}
h3 {
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 20pt;
}
h4 {
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 18pt;
}
h5 {
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 16pt;
}
h6 {
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 14pt;
}
p {
  padding: 10px;
	font-family: Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #848484;
	font-size: 10pt;
}

/* Left-hand menu */
#content {
	width: 720px;
	padding-top: 170px;
	margin-left: 240px;
	z-index: 1;
}
#content ul {
  padding: 0px 40px;
  font-family: Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #848484;
	font-size: 10pt;
}
#content li {
  list-style-type:disc;
}
#menu-wrapper {
	height: 100%;
	padding-top: 120px;
	float: left;
	width: 140px;
}
#menu-header {
	position: fixed;
  padding-left: 10px;
}
#menu-main {
	position: fixed;
	padding-top: 60px;
	padding-left: 40px;
}
#menu-main a {
	color: #707070;
	text-decoration: none;
	font-size: 16pt;
}
#menu-main a:hover {
	color: #121212;
}
#menu-main li {
	padding: 5px 0 5px 0;
}
#menu-main .selected {
	color: #121212;
}
#menu-footer {
	position: fixed;
	bottom: 10px;
	left: 20px;
}
#footer-box {
	width: 96px;
	height: 22px;
	position: fixed;
	bottom: 40px;
	left: 30px;
}
#footer-box li {
	float: left;
	padding-left: 6px;
	display: inline;
}
.email a {
	background-image: url(../icons/email.png);
	background-position: 0 0px;
	display: block;
	height: 25px;
	padding-left: 25px;
	background-repeat: no-repeat
}
.github a {
	background-image: url(../icons/github.png);
	background-position: 0 0px;
	display: block;
	height: 25px;
	padding-left: 25px;
	background-repeat: no-repeat
}
.linkedin a {
	background-image: url(../icons/linkedin.png);
	background-position: 0 0px;
	display: block;
	height: 25px;
	padding-left: 25px;
	background-repeat: no-repeat
}

/* Hard override for bold */
strong, b {
    font-weight: bold;
}
