/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General */					
h1 {
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 26pt;
}
h2 {
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 22pt;
}
h3 {
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 20pt;
}
h4 {
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 18pt;
}
h5 {
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 16pt;
}
h6 {
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 14pt;
}
p {
  padding: 10px;
	font-family: Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #848484;
	font-size: 10pt;
}

/* Header */
#header-wrapper {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 60px;
	background-color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
}
#header {
	width: 960px;
	padding-left: 20px;
	padding-right: 40px;
	text-align: left;
	vertical-align: center;
}
#header h4 {
	color: #FFF;
	font-size: 24pt;
	font-weight: bold;
}

/* Menu */
#menu-wrapper {
	position: fixed;
	top: 60px;
	width: 140px;
	height: 80%;
	float: left;
}
#menu-main {
	position: fixed;
	padding-top: 60px;
	padding-left: 30px;
}
#menu-main a {
	color: #707070;
	text-decoration: none;
	font-size: 16pt;
}
#menu-main a:hover {
	color: #121212;
}
#menu-main li {
	padding: 5px 0 5px 0;
}
#menu-main .selected {
	color: #121212;
}

/* Footer */
#footer-wrapper {
	position: fixed;
	top: 90%;
	width: 140px;
	height: 10%;
	float: left;
}
#footer-box {
	position: fixed;
	vertical-align: center;
	padding-left: 30px;
}
#footer-box li {
	float: left;
	padding-left: 6px;
	display: block;
}
.email a {
	background-image: url(../icons/email.png);
	display: block;
	height: 25px;
	padding-left: 25px;
}
.github a {
	background-image: url(../icons/github.png);
	display: block;
	height: 25px;
	padding-left: 25px;
}
.linkedin a {
	background-image: url(../icons/linkedin.png);
	display: block;
	height: 25px;
	padding-left: 25px;
}

/* Content */
#content {
	width: 800px;
	padding-top: 10%;
	padding-left: 180px;
	padding-bottom: 100px;
	z-index: 1;
}
#content ul {
 	padding: 0px 40px;
 	font-family: Verdana, Arial, sans-serif;
 	line-height: 1.6em;
 	color: #848484;
	font-size: 10pt;
}
#content li {
 	list-style-type:disc;
}
#content q {
 	font-style: italic;
}

/* Code */
pre {
	display: block;
	width: 710px;
	margin-left: 50px;
	border: none !important;
}
code.block, samp {
	display: block;
	padding: 10px;
	font-family: monospace;
	font-size: 14px;
	line-height: 1.4em;
	background-color: rgba(0, 0, 0, 0.05);
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	white-space: pre;
	overflow-x: auto;
}
code.inline {
	font-family: monospace;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 5px;
}
pre .kwd { color: rgba(0, 0, 225, 1); font-weight: bold } /* imports */
pre .com { color: rgba(0, 125, 0, 1) }    /* comments */
pre .pln { color: rgba(0, 0, 0, .7) }    /* plaintext */
pre .str { color: rgba(0, 100, 240, 1) }   /* strings */
pre .lit { color: rgba(0, 200, 255, 1) }        /* literal */
pre .pun { color: rgba(0, 0, 0, .7) }    /* punctuation */
pre .dec { color: rgba(0, 0, 0, .7) }            /* decimal */
pre .typ { color: rgba(100, 0, 255, 1) }   /* type */
pre .atn { color: rgba(255, 0, 0, 1); font-weight: bold } /* attribute name */
pre .atv { color: rgba(255, 0, 0, 1) } /* attribute value */
pre .tag { color: rgba(0, 255, 255, 1); font-weight: bold } /* imports or html/xml tag */

/* Figures */
.figure {
	width: 660px;
	margin-left: 100px;
}
.axis path, .axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 1);
  shape-rendering: crispEdges;
}
text, .axis text {
  font-family: sans-serif;
  font-size: 14px;
}

/* Formatting */
strong, b {
    font-weight: bold;
}
i {
	font-style: italic;
}
