/* Imports */
@import "normalize.css";
@import "skeleton.css";

/* Header */
#navbar {
	margin-top: 3rem;
}
#navbar ul {
	display: inline-block;
}
#navbar li {
	float: left;
	margin-left: 3rem;
	margin-right: 3rem;
}
#navbar a:hover {
	color: rgb(0, 51, 153);
}
#selected {
	color: rgb(0, 51, 153);
}

/* Icons */
#icons {
	margin-top: 3rem;
	margin-bottom: 5rem;
}
#icons ul {
	display: inline-block;
}
#icons li {
	float: left;
	margin-left: .5rem;
	margin-right: .5rem;
}
#icons a {
	display: block;
	height: 25px;
	width: 25px;
}
#email {
	background-image: url(../icons/email.png);
}
#github {
	background-image: url(../icons/github.png);
}
#linkedin {
	background-image: url(../icons/linkedin.png);
}

/* Formatting */
.container {
	background-color: rgb(255, 255, 255);
}
.row {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.center {
    text-align: center;
}
li {
	list-style: none;
}
.list-styled li {
	margin-left: 2rem;
	list-style: disc;
}
a {
	text-decoration: none;
}